<h2>Welcome to my single page application!</h2>
In short, on this page you can:<br/>
 -Play a little game<br/>
 -Create and edit players<br/>
 -Create and edit goals a player wants to achieve<br/>
 -Befriend players!
<br/>
<br/>
<IMG src="/app/images/somuchfabucanthandle.jpg" ng-click="hidePicture=true" ng-hide="hidePicture"/>
<IMG src="/app/images/somuchfabucanthandle2.jpg" ng-hide="hidePicture===undefined||hidePicture===false"/>
<br/>
<p ng-hide="hidePicture">Don't mind the princess, she likes it here (Please don't disturb her)</p>
<p ng-hide="hidePicture===undefined||hidePicture===false">Oh no! Look what you did! o:</p>
<br/><br/>
